{% extends 'base.html.twig' %}
 {% block container %}


     <h1>mes  produits {{products|length}} <a href="{{path('app_product_new') }}" class="btn btn-sm btn-success">Retour aux products</a> </h1>

        {% for successMessage in app.flashes('success') %}
                
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-success">  {{ successMessage|raw }} </div>
                </div>
            </div>

        {% endfor %}

     <div class="row">
        {% for product in products %}
            <div class="col-4 mt-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Nom: {{product.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Prix:{{product.price}}£</h6>
                            {% if product.overPrice  %} 
                            <p class="text-danger">
                               Le prix semble abordable
                            </p>
                           {% else %}
                             <p class="text-success">Le prix semble adorable</p>
                           {% endif %}
                        <p class="card-text">Description: {{product.description}}</p>
                        <a href="{{path('app_product_show',{id:product.id})}}" class="card-link">Afficher le produit</a>
                    </div>
                </div>
            </div>
        {% endfor %}
     </div>

{% endblock %}